@model IEnumerable<NaturalFrut.Models.VentaMinorista>
@{
    ViewBag.Title = "Ventas Minoristas - NaturalFrut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ventas Minoristas</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Ingresar Venta", "NuevaVentaMinorista", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-right">
        <p>
            @Html.ActionLink("Generar Reporte", "NuevoReporteVentaMinorista", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún ventas minoristas en el sistema</h2>
        }
        else
        {

            <table id="ventasminorista" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>NumeroVenta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        }
    </div>
</div>

@section scripts
{

    <script>

        $(document).ready(function () {

            var table = $("#ventasminorista").DataTable({

                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },

                ajax: {

                    url: "/api/ventasminorista",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Fecha"
                    },
                    {
                        data: "NumeroVenta"
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-view' data-ventaminorista-id=" + data + "><img title='Ver Venta Minorista' src='/Content/Images/DetailsIcon.png'/></button>" +
                                "<button class='btn-link js-edit' data-ventaminorista-id=" + data + "><img title='Editar Venta Minorista' src='/Content/Images/EditIcon.png'/></button>";
                        }
                    }
                ]
            });

            //$("#ventasminoristas").on("click", ".js-delete", function () {

            //    var button = $(this);

            //    bootbox.confirm("¿Estas seguro de realizar esta acción?", function (result) {

            //        if (result) {
            //            $.ajax({
            //                url: "/api/ventasminorista/" + button.attr("data-ventaminorista-id"),
            //                method: "DELETE",
            //                success: function () {

            //                    toastr.success("Cliente eliminado satisfactoriamente");

            //                    table.row(button.parents("tr")).remove().draw();
            //                }
            //            });
            //        }

            //    });


            //});

            $("#ventasminorista").on("click", ".js-edit", function () {

                var button = $(this);

                location.href = "VentaMinorista/EditarVentaMinorista/" + button.attr("data-ventaminorista-id");

            });

            $("#ventasminorista").on("click", ".js-view", function () {

                var button = $(this);

                location.href = "VentaMinorista/VerVentaMinorista/" + button.attr("data-ventaminorista-id");

            });


        });




    </script>

}