@model dynamic
@{
    ViewBag.Title = "Generar Reporte Compra - NaturalFrut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Reporte Diario / Mensual</h2>
<h4>Ingrese el rango de fechas y luego haga click en Buscar</h4>




<div class="row">

    <!--Agrupamos campos de la columna izquierda-->
    <div class="col-sm-12">

        <div class="form-group">
            <label>Fecha Desde</label>
            <div class='input-group date'>
                <input required id="fechadesde" type="text" class="form-control" />
            </div>

        </div>

        <div class="form-group">
            <label>Fecha Hasta</label>
            <div class='input-group date'>
                <input required id="fechahasta" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Local</label>
            <select id="local" name="local" class="form-control">
                <option value="">seleccione...</option>
                <option value="Mitre">Mitre</option>
                <option value="Laprida">Laprida</option>
                <option value="Mayorista">Mayorista</option>
            </select>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-sm-12">

        @Html.AntiForgeryToken()
        <button id="btnBuscar" type="button" class="btn btn-primary">Buscar</button>
        <button type="button" class="btn btn-danger" value="Volver" onclick="location.href='@Url.Action("IndexReporte", "Compra")';">Cancelar</button>

    </div>
</div>

<div class="row rte-hidden">
    <div class="col-sm-12 text-right">
        <button id="btnGenerarReporteTxt" type="button" class="btn btn-primary">Generar Reporte TXT</button>
        <button id="btnGenerarReporteExcel" type="button" class="btn btn-success">Generar Reporte Excel</button>
    </div>
</div>

<div class="row">
    <br /><br />
</div>

<div class="row rte-hidden">
    

    <div class="col-sm-12">

        <table id="reportesporfecha" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Numero de Compra</th>
                    <th>Proveedor</th>
                    <th>Factura</th>
                    <th>Local</th>
                </tr>
            </thead>
            <tbody></tbody>
            
        </table>

    </div>
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>



        $(document).ready(function () {

            $('#fechadesde').datetimepicker();
            $('#fechahasta').datetimepicker();

            var vm = [];

            $("#btnBuscar").on('click', function () {

                var fechaDesde = $("#fechadesde").val();
                var fechaHasta = $("#fechahasta").val();
                 var local = $("#local").val();

                if (fechaDesde != "" && fechaHasta != "" && local !="") {

                    $.getJSON("GetReporteCompraAsync", { FechaDesde: fechaDesde, FechaHasta: fechaHasta, Local: local }, PopulateReportesPorFecha)
                        .error(function (xhr, textStatus, exceptionThrown) {
                            bootbox.alert(xhr.responseText);
                        })

                }

            })

            PopulateReportesPorFecha = function (data) {

                if (data.Success) {

                    vm.ReporteCompra = data.ReporteCompra;

                    var table = $("#reportesporfecha").DataTable({
                        "destroy": true,
                        "language": {
                            "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                        },

                        "order": [[1, "desc"]],

                        "columnDefs": [
                            { "width": "15%", "targets": 0 },
                            { "width": "15%", "targets": 1 },
                            { "width": "30%", "targets": 2 },
                            { "width": "13%", "targets": 3 },
                            { "width": "13%", "targets": 4 },
                                                  
                        ],

                        data: data.ReporteCompra,
                        columns: [
                            {
                                "data": "Fecha",
                                "type": "date",
                                "render": function (value) {
                                    if (value === null) return "";
                                    return moment(value).format('DD/MM/YYYY h:mm A');
                                }
                            },
                            {
                                data: "NumeroCompra"
                            },
                            {
                                data: "Proveedor.Nombre"
                            },
                            {
                                data: "Factura",
                               
                            },
                            {
                                data: "Local",
                               
                            }
                                           
                        ],

                    });

                    $(".row").removeClass("rte-hidden");

                    

                }
                else {
                    bootbox.alert("Error al generar la búsqueda de compras")
                }

            }

            
            $("#btnGenerarReporteTxt").on('click', function () {

                var numCompra = "";

                $.each(vm.ReporteCompra, function (key, value) {

                    numCompra += value.NumeroCompra + ",";

                    // and the rest of your code
                });

                if (numCompra != "") {
                    location.href = "GenerarReporteTxt?compra=" + numCompra;
                }
                else {
                    toastr.error("No se puede generar Reporte sin datos.");
                }
                
            })

            $("#btnGenerarReporteExcel").on('click', function () {

                var numCompra = "";

                $.each(vm.ReporteCompra, function (key, value) {

                    numCompra += value.NumeroCompra + ",";

                    // and the rest of your code
                });

                if (numCompra != "") {
                    location.href = "GenerarReporteExcel?compra=" + numCompra;
                }
                else {
                    toastr.error("No se puede generar Reporte sin datos.");
                }

                

            })

            


        });

      

    </script>

}
