@model IEnumerable<NaturalFrut.Models.VentaMayorista>
@{
    ViewBag.Title = "VentaMayorista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ventas Mayoristas</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Ingresar Venta", "NuevaVentaMayorista", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row ">
    <div class="col-sm-12 text-right">
        <button id="btnGenerarReporteExcel" type="button" class="btn btn-success">Exportar Ventas - Excel</button>
    </div>
    <br/>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún ventas mayoristas en el sistema</h2>
        }
        else
        {

            <table id="ventasmayorista" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Numero de Venta</th>
                        <th>Cliente</th>
                        <th>No Concretado</th>
                        <th>Facturado</th>
                        <th>Importe Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        }
    </div>
</div>

@section scripts
{

    <script>

        $(document).ready(function () {

            //var data_columns = [
            //    { 'data': 'seleccionado' },               
            //    { 'data': 'van', "type": "num-fmt" },
            //    { 'data': 'inversion_neta', "type": "num-fmt" },
            //];

            //window.table = $('#tramosTable').DataTable({
            //    "data": tableData,
            //    "dataSrc": "",
            //    "deferRender": true,
            //    "columns": data_columns,
            //    "pageLength": 25,
            //    "stateSave": true,
            //    "autoWidth": true,
            //    "language": {
            //        "url": 'url_to_the_file"
            //    },
            //});




            var table = $("#ventasmayorista").DataTable({

                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },

                "order": [[1, "desc"]],

                "columnDefs": [
                    { "width": "15%", "targets": 0 },
                    { "width": "15%", "targets": 1 },
                    { "width": "25%", "targets": 2 },
                    { "width": "13%", "targets": 3 },
                    { "width": "10%", "targets": 4 },
                    { "width": "12%", "targets": 5 },
                    { "width": "10%", "targets": 6 },
                ],

                ajax: {

                    url: "/api/ventasmayorista",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Fecha"
                    },
                    {
                        data: "NumeroVenta"
                    },
                    {
                        data: "Cliente.Nombre"
                    },
                    {
                        data: "NoConcretado",
                        mRender: function (data, type, row) {   
                            
                            if (data == true)
                                return 'Si';
                            else 
                                return 'No';
                            
                        }
                    },
                    {
                        data: "Facturado",
                        mRender: function (data, type, row) {

                            if (data == true)
                                return 'Si';
                            else
                                return 'No';

                        }
                    },
                    {
                        data: "SumaTotal",
                        type: "num-fmt",
                        render: $.fn.dataTable.render.number('.', ',', 2, "$ ")
                    },
                    {
                        data: "ID",
                        render: function (data) {

                            var userRole = '@(User.IsInRole("Administrator") ? "true" : "false")';

                            if (userRole == "true") {
                                return "<button class='btn-link js-delete' data-ventamayorista-id=" + data + "><img title='Borrar' src='/Content/Images/DeleteIcon.png'/></button>" +
                                    "<button class='btn-link js-edit' data-ventamayorista-id=" + data + "><img title='Editar' src='/Content/Images/EditIcon.png'/></button>" +
                                    "<button class='btn-link js-notaPedido' data-ventamayorista-id=" + data + "><img title='Nota de Pedido' src='/Content/Images/NotaPedido.png'/></button>";
                            }
                            else {
                                return "<button class='btn-link js-edit' data-ventamayorista-id=" + data + "><img title='Editar' src='/Content/Images/EditIcon.png'/></button>" +
                                    "<button class='btn-link js-notaPedido' data-ventamayorista-id=" + data + "><img title='Nota de Pedido' src='/Content/Images/NotaPedido.png'/></button>";
                            }
                            
                        }
                    }
                ]
            });            

            $("#ventasmayorista").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("¿Estas seguro de realizar esta acción?", function (result) {

                    if (result) {

                        $.ajax({
                            url: "api/ventasmayorista/deleteventamayorista/" + button.attr("data-ventamayorista-id"),
                            method: "DELETE",
                            success: function () {

                                toastr.success("Venta Mayorista eliminada satisfactoriamente");

                                table.row(button.parents("tr")).remove().draw();
                            },
                            fail: function() {
                                toastr.error("Se produjo un problema al intentar eliminar la venta");
                            }
                            
                        });
                    }

                });


            });

            $("#btnGenerarReporteExcel").on('click', function () {                

                location.href = "VentaMayorista/GenerarReporteExcel";                
            })

            $("#ventasmayorista").on("click", ".js-notaPedido", function () {

                var button = $(this);

                location.href = "VentaMayorista/PrintAll/" + button.attr("data-ventamayorista-id");

            });

            $("#ventasmayorista").on("click", ".js-edit", function () {

                var button = $(this);

                location.href = "VentaMayorista/EditarVentaMayorista/" + button.attr("data-ventamayorista-id");

            });


        });




    </script>

}