@model IEnumerable<NaturalFrut.Models.VentaMayorista>
@{
    ViewBag.Title = "VentaMayorista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ventas Mayoristas</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Ingresar Venta", "NuevaVentaMayorista", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún ventas mayoristas en el sistema</h2>
        }
        else
        {

            <table id="ventasmayorista" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Numero de Venta</th>
                        <th>Cliente</th>
                        <th>Importe Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        }
    </div>
</div>

@section scripts
{

    <script>

        $(document).ready(function () {

            var table = $("#ventasmayorista").DataTable({

                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },

                "columnDefs": [
                    { "width": "15%", "targets": 0 },
                    { "width": "15%", "targets": 1 },
                    { "width": "25%", "targets": 2 },
                    { "width": "15%", "targets": 3 },
                    { "width": "30%", "targets": 4 },
                ],

                ajax: {

                    url: "/api/ventasmayorista",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Fecha"
                    },
                    {
                        data: "NumeroVenta"
                    },
                    {
                        data: "Cliente.Nombre"
                    },
                    {
                        data: "SumaTotal"
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-ventamayorista-id=" + data + "><img title='Borrar' src='/Content/Images/DeleteIcon.png'/></button>" +
                                "<button class='btn-link js-edit' data-ventamayorista-id=" + data + "><img title='Editar' src='/Content/Images/EditIcon.png'/></button>" + 
                                "<button class='btn-link js-notaPedido' data-ventamayorista-id=" + data + "><img title='Nota de Pedido' src='/Content/Images/NotaPedido.png'/></button>";
                        }
                    }
                ]
            });            

            $("#ventasmayorista").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("¿Estas seguro de realizar esta acción?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/ventasmayorista/" + button.attr("data-ventamayorista-id"),
                            method: "DELETE",
                            success: function () {

                                toastr.success("Cliente eliminado satisfactoriamente");

                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }

                });


            });

            $("#ventasmayorista").on("click", ".js-notaPedido", function () {

                var button = $(this);

                location.href = "VentaMayorista/PrintAll/" + button.attr("data-ventamayorista-id");

            });

            $("#ventasmayorista").on("click", ".js-edit", function () {

                var button = $(this);

                location.href = "VentaMayorista/EditarVentaMayorista/" + button.attr("data-ventamayorista-id");

            });


        });




    </script>

}