@model IEnumerable<NaturalFrut.Models.Compra>
@{
    ViewBag.Title = "Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compras</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Ingresar Compra", "NuevaCompra", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún compras en el sistema</h2>
        }
        else
        {

            <table id="compra" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Numero de Compra</th>
                        <th>Proveedor</th>
                        <th>Total Gastos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        }
    </div>
</div>

@section scripts
{

    <script>

        $(document).ready(function () {

            var table = $("#compra").DataTable({

                
                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },

                "order": [[1, "desc"]],

                "columnDefs": [
                    { "width": "15%", "targets": 0 },
                    { "width": "15%", "targets": 1 },
                    { "width": "25%", "targets": 2 },
                    { "width": "15%", "targets": 3 },
                    { "width": "30%", "targets": 4 },
                ],

                ajax: {

                    url: "/api/compra",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Fecha"
                    },
                    {
                        data: "NumeroCompra"
                    },
                    {
                        data: "Proveedor.Nombre"
                    },
                    {
                        data: "Total",
                        type: "num-fmt",
                        render: $.fn.dataTable.render.number('.', ',', 2, "$ ")
                    },
                    {
                        data: "ID",

                        render: function (data) {

                            var userRole = '@(User.IsInRole("Administrator") ? "true" : "false")';

                            if (userRole == "true") {
                                return "<button class='btn-link js-delete' data-compra-id=" + data + "><img title='Borrar' src='/Content/Images/DeleteIcon.png'/></button>" +
                                    "<button class='btn-link js-edit' data-compra-id=" + data + "><img title='Editar' src='/Content/Images/EditIcon.png'/></button>" +
                                    "<button class='btn-link js-ordenCompra' data-compra-id=" + data + "><img title='Nota de Pedido' src='/Content/Images/NotaPedido.png'/></button>";
                            }
                            else {
                                return "<button class='btn-link js-edit' data-compra-id=" + data + "><img title='Editar' src='/Content/Images/EditIcon.png'/></button>" +
                                    "<button class='btn-link js-ordenCompra' data-compra-id=" + data + "><img title='Nota de Pedido' src='/Content/Images/NotaPedido.png'/></button>";
                            }

                        }
                    }
                ]
            });

            $("#compra").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("¿Estas seguro de realizar esta acción?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/compra/deletecompra/" + button.attr("data-compra-id"),
                            method: "DELETE",
                            success: function () {

                                toastr.success("La Compra se ah eliminado satisfactoriamente");

                                table.row(button.parents("tr")).remove().draw();
                            },
                            fail: function () {
                                toastr.error("Se produjo un problema al intentar eliminar la compra");
                            }
                        });
                    }

                });


            });

            $("#compra").on("click", ".js-ordenCompra", function () {

                var button = $(this);

                location.href = "Compra/PrintAll/" + button.attr("data-compra-id");

            });

            $("#compra").on("click", ".js-edit", function () {

                var button = $(this);

                location.href = "Compra/EditarCompra/" + button.attr("data-compra-id");

            });


        });




    </script>

}