@model IEnumerable<NaturalFrut.Models.Categoria>
@using NaturalFrut.Models
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorias</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Agregar nuevo", "NuevoCategoria", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún Datos en el sistema</h2>
        }
        else
        {

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                <tbody>
                    @foreach (var categoria in Model)
                    {
                        <tr>
                            <td>@categoria.Nombre</td>
                            <td>
                                @Html.ActionLink("Editar", "EditarCategoria", "Admin", new { id = categoria.ID }, null)
                                &nbsp;
                                @if (User.IsInRole(RoleName.Administrator))
                                {
                                    @Html.ActionLink("Borrar", "BorrarCategoria", "Admin", new { id = categoria.ID }, null)

                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }

    </div>
</div>