
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h2 style="color:red;">Se ha producido un error al intentar acceder a esa acción. </h2>
        <h3>Intente nuevamente y si el error persiste contactese con el administrador del sistema.</h3>
    </div>
</div>


