@model IEnumerable<NaturalFrut.Models.ListaPrecio>
@{
    ViewBag.Title = "Lista de Precios - Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Productos</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Ingresar Productos", "NuevoListaPrecios", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún Productos en las listas</h2>
        }
        else
        {

            <table id="listaPrecios" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Lista</th>
                        <th>Producto</th>
                        <th>Precio x Kg.</th>
                        <th>Precio x Bulto Cerrado</th>
                        <th>Precio x Unidad</th>
                        <th>Kg. Bulto Cerrado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        }
    </div>
</div>

@section scripts
{

    <script>

        $(document).ready(function () {

            var table = $("#listaPrecios").DataTable({

                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },

                ajax: {

                    url: "/api/listaprecios",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Lista.Nombre"
                    },
                    {
                        data: "Producto.Nombre"
                    },
                    {
                        data: "PrecioXKG"
                    },
                    {
                        data: "PrecioXBultoCerrado"
                    },
                    {
                        data: "PrecioXUnidad"
                    },
                    {
                        data: "KGBultoCerrado"
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-pxl-id=" + data + "><img title='Borrar' src='/Content/Images/DeleteIcon.png'/></button>" +
                                "<button class='btn-link js-edit' data-pxl-id=" + data + "><img title='Editar' src='/Content/Images/EditIcon.png'/></button>";
                        }
                    }
                ]
            });

            $("#listaPrecios").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("¿Estas seguro de realizar esta acción?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/listaprecios/" + button.attr("data-pxl-id"),
                            method: "DELETE",
                            success: function () {

                                toastr.success("Registro eliminado satisfactoriamente");

                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }

                });


            });

            $("#listaPrecios").on("click", ".js-edit", function () {

                var button = $(this);

                location.href = "EditarListaPrecios/" + button.attr("data-pxl-id");

            });


        });




    </script>

}