@model IEnumerable<NaturalFrut.Models.ProductoMix>
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Productos Mix</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Agregar Productos", "NuevoProductoMix", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún Productos en el sistema</h2>
        }
        else
        {
            <table id="productosmix" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>


        }

    </div>
</div>

@section scripts
{
    
    <script>

        $(document).ready(function () {

            var table = $("#productosmix").DataTable({

                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },

                ajax: {

                    url: "/api/productosMix",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Nombre"
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-view' data-productosmix-id=" + data + "><img title='Ver Productos Mix' src='/Content/Images/DetailsIcon.png'/></button>" +
                                "<button class='btn-link js-edit' data-productosmix-id=" + data + "><img title='Editar Productos Mix' src='/Content/Images/EditIcon.png'/></button>";
                        }
                    }
                ]
            });

            $("#productosmix").on("click", ".js-view", function () {

                var button = $(this);

                location.href = "VerProductoMix/" + button.attr("data-productosmix-id");

            });

            $("#productosmix").on("click", ".js-edit", function () {

                var button = $(this);

                location.href = "EditarProductoMix/" + button.attr("data-productosmix-id");

            });

        });

    </script>
    
    
}