@model IEnumerable<NaturalFrut.Models.Producto>
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Productos</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Nuevo Producto", "NuevoProducto", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún Productos en el sistema</h2>
        }
        else
        {
            <table id="productos" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>


        }

    </div>
</div>

@section scripts
{
    
    <script>

        $(document).ready(function () {

            var table = $("#productos").DataTable({

                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },

                ajax: {

                    url: "/api/productos",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Nombre"
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + "><img title='Borrar' src='/Content/Images/DeleteIcon.png'/></button>" +
                                "<button class='btn-link js-edit' data-customer-id=" + data + "><img title='Editar' src='/Content/Images/EditIcon.png'/></button>";
                        }
                    }
                ]
            });

            $("#productos").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("¿Estas seguro de realizar esta acción?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/productos/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {

                                toastr.success("Producto eliminado satisfactoriamente");

                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }

                });


            });

            $("#productos").on("click", ".js-edit", function () {

                var button = $(this);

                location.href = "EditarProducto/" + button.attr("data-customer-id");

            });

        });

    </script>
    
    
}