@model IEnumerable<NaturalFrut.Models.Producto>
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Productos</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Nuevo Producto", "NuevoProducto", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún Productos en el sistema</h2>
        }
        else
        {
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                <tbody>
                    @foreach (var producto in Model)
                    {
                        <tr>
                            <td>@producto.Descripcion</td>
                            <td>
                                @Html.ActionLink("Editar", "EditarProducto", "Admin", new { id = producto.ID }, null)
                                &nbsp;
                                @Html.ActionLink("Borrar", "BorrarProducto", "Admin", new { id = producto.ID }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }

    </div>
</div>
