@model IEnumerable<NaturalFrut.Models.Proveedor>
@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Proveedores</h2>

<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink("Nuevo Proveedor", "NuevoProveedor", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        @if (!Model.Any())
        {
            <h2>No se han cargado aún Proveedores en el sistema</h2>
        }
        else
        {
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                <tbody>
                    @foreach (var proveedor in Model)
                    {
                        <tr>
                            <td>@proveedor.Nombre</td>
                            <td>
                                @Html.ActionLink("Editar", "EditarProveedor", "Admin", new { id = proveedor.ID }, null)
                                &nbsp;
                                @Html.ActionLink("Borrar", "BorrarProveedor", "Admin", new { id = proveedor.ID }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }

    </div>
</div>
